/*--------------------------------------------------------------------------*/
/*This is main CSS file that intializes BG Images used in this template*/
/*--------------------------------------------------------------------------*/

.promo-section{
    background-image: url('../images/bg/001.jpg');
}
.contact{
    background-image: url('../images/bg/005.jpg');
}
.photography-carousel-item-01{
    background-image:url('../images/bg/03.jpg');
}

.photography-carousel-item-02{
    background-image:url('../images/bg/02.jpg');
}

.photography-carousel-item-03{
    background-image:url('../images/bg/01.jpg');
}

.agency-carousel-item-01{
    background-image:url('../images/bg/01.jpg');
}

.agency-carousel-item-02{
    background-image:url('../images/bg/02.jpg');
}

.agency-carousel-item-03{
    background-image:url('../images/bg/03.jpg');
}

.cp-about{
    background-image: url('../images/bg/002.jpg');
}

.cp-communities{
    background-image: url('../images/bg/003.jpg');
}

.cp-reserve{
    background-image: url('../images/bg/004.jpg');
}

.cp-minas{
    background-image: url('../images/bg/006.jpg');
}

/*Mobile Menu Logo*/
.menu-collapser {
    padding-top: 100px;
    background-image: url('../images/logo-white.png');
}
